trigger-actions-framework/main/default/flows/Goodbye_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>add_to_new_List_after_flow</name>
        <label>add to new List after flow</label>
        <locationX>494</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>newListAfterFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Name_to_Goodbye</name>
        <label>Set Name to Goodbye</label>
        <locationX>333</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>for_each_record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>goodbye</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_new_List_after_flow</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>goodbye</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Goodbye</stringValue>
        </value>
    </constants>
    <interviewLabel>Goodbye Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Goodbye Flow</label>
    <loops>
        <name>for_each_record</name>
        <label>for each record</label>
        <locationX>176</locationX>
        <locationY>223</locationY>
        <collectionReference>newList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Name_to_Goodbye</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>for_each_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>newListAfterFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
