trigger-actions-framework/main/default/flows/opp_description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_old_record</name>
        <label>get old record</label>
        <locationX>175</locationX>
        <locationY>417</locationY>
        <actionName>TriggerActionFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>did_stage_change</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__currentRecord</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldList</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>for_each_record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldList</name>
            <value>
                <elementReference>oldList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>oldRecord</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>add_to_new_list_after_flow</name>
        <label>add to new list after flow</label>
        <locationX>525</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>newListAfterFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_description</name>
        <label>set description</label>
        <locationX>675</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>for_each_record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_new_list_after_flow</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>description</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Apex Hours are awesome!!!!!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>did_stage_change</name>
        <label>did stage change</label>
        <locationX>396</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>add_to_new_list_after_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldRecord.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>for_each_record.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_description</targetReference>
            </connector>
            <label>stage changed</label>
        </rules>
    </decisions>
    <interviewLabel>opp description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>opp description</label>
    <loops>
        <name>for_each_record</name>
        <label>for each record</label>
        <locationX>176</locationX>
        <locationY>225</locationY>
        <collectionReference>newList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_old_record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>for_each_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>newListAfterFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oldList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
